.xyz
{
    background-color: rgb(243, 230, 211);
    margin: 30px;
    padding: 15px;
}

#qwe
{
    background-color: pink;
    margin: 30px;
    padding: 2px;
}

#abc
{
    background-color: aquamarine;
    margin: 30px;
    padding: 2px;
}